// Colors

$brand:             #93278f;

$primary:           #662d91;
$primary-dark:      #4d226d;

$background:        #ebeef0;
$background-dark:   #e0e5e8;
 
$text:              #616a75;
$text-light:        #778f9b;
$text-dark:         #445963;

$warning:           #ff1d25;


// Typography

$font-family-base:  'Roboto Condensed', 'Arial Narrow', sans-serif;

$font-size-base:    14px;
$font-size-large:   18px;
$font-size-small:   13.86px;
$font-size-xs:      12.22px;

// Component Design

$radius-size:       2px;
