// Form Components


.form {
    // Form title
    &__title {
        font-size: $font-size-large;
        color: $text-dark;
    }

    // Form group used to group labels, input and icons together
    &__group {
        box-sizing: border-box;
        position: relative;
        margin-bottom: 15px;

        // Icon treatment in forms
        [class^="icon--"],
        [class*="icon--"] {
            position: absolute;
            top: 9px;
            right: 10px;
        }
    }
    
    // Form labels
    &__label {
        position: absolute;
        left: 0;
        padding: 10px;
        padding-top: 12px;
    }
    
    // Form input field
    &__input {
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: $radius-base;
        width: 100%;
        padding: 10px;
        padding-left: 80px;

        color: $text-input;

        transition: border-color 200ms;
        
        // Input error styling
        &.is-error {
            border-color: $warning;
        }

        // Password type field
        &[type="password"] {
            letter-spacing: 2px;
        }
    }

    // Form notification warning
    &__warning {
        @extend %container;
        position: fixed;
        top: -5px;
        right: 0;
        width: 100%;
        height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: 0px 4px 6px rgba(0,0,0, .15);
        background-color: $warning;
        opacity: 1;
        
        color: #fff;
        text-align: center;
        line-height: 50px;
        
        transition: top 250ms;
        
        // Active state
        &.is-active {
            top: 50px;
        }
        // Closing state
        &.is-closing {
            opacity: 0;
            transition: opacity 500ms;
        }
    }

    // Password reveal component
    &__reveal {
        cursor: pointer;
        transition: opacity 200ms;
        opacity: .75;

        &:hover {
            opacity: 1;
        }

    }
}