// Header Component


// Header
.header {
    @extend %container;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 50px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background: $brand;
    
    line-height: 50px;

    // Header title
    &__title {
        font-size: $font-size-base;
        font-weight: 300;
        color: #fff;
    }
}