// Navigation Component


// Nav menu wrapper
.nav {
    background-color: $primary;
    height: 100%;
    position: fixed;
    width: 220px;
    top: 50px;
    right: -220px;
    transition: right 220ms linear;
    
    // Active state for nav menu
    &.is-active {
        right: 0;
        box-shadow: -10px 0px 10px -6px rgba(0,0,0,.15);
    }

    // Nav toggle
    &__toggle {
        position: fixed;
        box-sizing: border-box;
        padding-left: 20px;
        right: 0;
        top: 0px;
        display: block;
        height: 50px;
        color: #fff;
        width: 100px;
        text-decoration: none;
        background-color: $primary;
        background-image: url('../img/icon_menu.svg');
        background-repeat: no-repeat;
        background-position: center right 15px;
        transition: width 120ms linear 100ms;
        
        // Active state for nav toggle
        &.is-active {
            width: 220px;

            &.is-closing {
                box-shadow: -10px 0px 10px -6px rgba(0,0,0,.15);
            }
        }

        // Closing state for nav toggle

        &.is-closing {
           transition: width 120ms linear 0s;
        }
    }

    // Wrapper for nav menu items, mainly ul reset

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    // Individual nav menu items

    &__menu-item {
        color: #fff;
        padding: 20px;
        line-height: 0;
        background-color: $primary;
        cursor: pointer;
        transition: background-color 200ms;

        &:hover {
            background-color: darken($primary, 8%);
        }

        
        // Highlighted nav menu section

        .nav__menu--highlighted & {
            @extend .nav__menu-item;
            background-color: $primary-dark;
    
            &:hover {
                background-color: darken($primary-dark, 5%);
            }

            &:first-child {
                margin-top: 10px;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}
