// Typography
.u-small {
    font-size: $font-size-xs;
}

.u-caps {
    text-transform: uppercase;
}

.u-pullright {
    float: right;
}

// Components

%container {
    box-sizing: border-box;
    padding: 25px 20px;    
}

.logomark {
    font-size: 0;
    width: 40px;
    height: 48px;
    background-image: url('../img/logomark.svg');
    background-repeat: no-repeat;
}

.note {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}


// Header Component

.header {
    @extend %container;
    background: $brand;
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    z-index: 100;


    &__title {
        font-size: $font-size-base;
        font-weight: 300;
        color: #fff;
    }
}

// Navigation Component

.nav {
    background-color: $primary;
    height: 100%;
    position: fixed;
    width: 220px;
    top: 0;
    // right: 0;
    right: -220px;

    &__toggle {
        position: fixed;
        right: 0;
        top: 0;
    }

    &__menu {
        // reset ul
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__menu-item {
        color: #fff;
        padding: 10px;

        &--highlighted {
            @extend .nav__menu-item;
            background-color: $primary-dark;
        }        
    }
}

// Main

.main {
    @extend %container;
    margin-top: 50px;
}

// Form

.form {
    &__title {
        font-size: $font-size-large;
        color: $text-dark;
    }

    &__group {
        position: relative;
        box-sizing: border-box;
        margin-bottom: 15px;

        [class^="icon--"],
        [class*="icon--"] {
            position: absolute;
            top: 7px;
            right: 10px;
            cursor: pointer;
            transition: opacity 200ms;
            opacity: 1;

            &:hover {
                opacity: .75;
            }
        }
    }

    &__label {
        position: absolute;
        left: 0;
        padding: 10px;
    }

    &__input {
        border: 0;
        border-radius: $radius-base;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        padding-left: 80px;
        color: $text-input;

        &--password {
            @extend .form__input;
            letter-spacing: 1px;
        }
    }

    &__warning {
        @extend %container;
        background-color: $warning;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px;
        position: fixed;
        top: -5px;
        right: 0;
        opacity: 1;
        box-shadow: 0px 5px 5px rgba(0,0,0, .15);
        transition: top 250ms;

        &.is-active {
            top: 50px;
        }

        &.is-closing {
            opacity: 0;
            transition: opacity 500ms;
        }
    }
}

// Icon

[class^="icon--"],
[class*="icon--"] {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon {
    &--eye {
        background-image: url('../img/icon_eye.svg');
    }
}



// Buttons

.button {
    background-color: $primary;
    color: #fff;
    border: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: $radius-base;
    transition: background-color 200ms;

    &:hover,
    &:active {
        background-color: $primary-dark;
    }

    &__group {
        margin-top: 25px;
        margin-bottom: 25px;

        .alt-action {
            height: 30px;
            line-height: 30px;
            float: right;
            
            &__link {
                color: $text;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

// Footer

.footer {
    @extend %container;
    background-color: $background-dark;
    position: relative;
    height: 150px;
    width: 100%;
    margin-top: 50px;

    &__credit {
        position: absolute;
        bottom: 25px;
    }
}